<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for content in contents[0] %}
    <div class="main">
        <div class="title">
            <h1>{{ content.title }}</h1>
        </div>
        <div class="text">
            <p>{{ content.text }}</p>
        </div>
        <p>{{ content.vote }} people voted</p>
        <p>score {{ content.score }}</p>
        <!-- <p>your score 5</p> -->
    </div>
    {% endfor %}

    <form action="/add_vote" method="post">
        <div>
            <label>Submit your vote for: </label>
            <select name="title">
                <option>Crypto</option>
                <option>Bitcoin</option>
                <option>Bitpin</option>
              </select>
              <select name="vote">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            <br>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>